<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="dorna_ros2_control" params="name prefix">

    <ros2_control name="${name}" type="system">
      <hardware>
        <!-- Dùng plugin giả để test, sau này có thể thay bằng plugin thật của Dorna -->
        <plugin>mock_components/GenericSystem</plugin>
        <param name="example_param_hw_start_duration_sec">0.1</param>
        <param name="example_param_hw_stop_duration_sec">0.1</param>
        <param name="example_param_hw_slowdown">1.0</param>
      </hardware>

      <joint name="${prefix}joint_1">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}joint_2">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}joint_3">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}joint_4">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>

      <joint name="${prefix}joint_5">
        <command_interface name="position"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>



<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="dorna_ros2_control" params="name prefix use_gazebo:=^|false">

    <ros2_control name="${name}" type="system">
      <hardware>
        <xacro:if value="${use_gazebo}">
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </xacro:if>
        <xacro:unless value="${use_gazebo}">
          <plugin>dorna_robot/DornaSystemPositionOnlyHardware</plugin>
          <param name="example_param_hw_start_duration_sec">0.1</param>
          <param name="example_param_hw_stop_duration_sec">0.1</param>
          <param name="example_param_hw_slowdown">1.0</param>
        </xacro:unless>
      </hardware>

      <joint name="${prefix}joint_1">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>

      <joint name="${prefix}joint_2">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>

      <joint name="${prefix}joint_3">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>

      <joint name="${prefix}joint_4">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
    </ros2_control>

  </xacro:macro>

</robot>
